body{
  background-image: url("../pics/pingPong.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#pingPong{
  font-family: 'Advent Pro', sans-serif;
  color: #EF5350;
  font-size: 16px;
}
.gameRules li{
  list-style-type: none;
}
.header{
  text-align: center;
  padding: 4%;
}
.sidebar{
  padding: 30px;
  text-align: center;

}
.content{
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.60), 0 8px 16px rgba(0,0,0,0.72);
  border-radius: 5px;
  padding: 15px;
}
.heading{
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
}
.gameRules{
  margin: 0 auto;
  text-align: center;
}
input{
  width: 40%;
  border: none;
  padding: 5px;
  color: #000000;
}
.output{
  padding-left: 20px;
}
.footer{
  padding: 15px;
  font-size: 11px;
  text-align: center;
}
