body{
  font-family: '' sans-serif;
}
.{
  box-sizing: border-box;
}
#main{
}
.header{
  background-color: #ffd54f;
  text-align: center;
  padding: 20px;
}
.sidebar{
  margin-top: 20px;
}
.mainContent{
  margin-top: 20px;
}
#number{
  width: 30%;
}
output{
  text-align: center;
}

.footer{
  font-size: 10px;
  background-color: #ffd54f;
  padding: 15px;
  display: none;
  text-align: center;
}
